<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IndicadoresApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
       <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unidadmedicion">
                <span class="bi bi-rulers" aria-hidden="true"></span> Unidad de Medicion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seccion">
                <span class="bi bi-folder" aria-hidden="true"></span> seccion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="subseccion">
                <span class="bi bi-folder-symlink" aria-hidden="true"></span> subseccion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipoactor">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Tipo de actor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sentido">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> sentidos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipoindicador">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Tipo de indicador
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rol">
                <span class="bi bi-person-badge" aria-hidden="true"></span> rol
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="representante">
                <span class="bi bi-palette" aria-hidden="true"></span> representante visual
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fuente">
                <span class="bi bi-database" aria-hidden="true"></span> fuentes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}